apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ringlet.fullname" . }}-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ringlet.labels" . | nindent 4 }}
data:
  DJANGO_SETTINGS_MODULE: {{ .Values.django.env.DJANGO_SETTINGS_MODULE | quote }}
  DEBUG: {{ .Values.django.env.DEBUG | quote }}
  ALLOWED_HOSTS: {{ .Values.global.domain | quote }}

  DB_HOST: {{ include "ringlet.postgresql.host" . | quote }}
  DB_PORT: {{ .Values.postgresql.service.port | quote }}
  DB_NAME: {{ .Values.postgresql.env.POSTGRES_DB | quote }}

  REDIS_HOST: {{ include "ringlet.redis.host" . | quote }}
  REDIS_PORT: {{ .Values.redis.service.port | quote }}

  CELERY_BROKER_URL: {{ printf "redis://%s:%d/0" (include "ringlet.redis.host" .) (int .Values.redis.service.port) | quote }}
  CELERY_RESULT_BACKEND: {{ printf "redis://%s:%d/0" (include "ringlet.redis.host" .) (int .Values.redis.service.port) | quote }}

  STATIC_ROOT: {{ .Values.django.env.STATIC_ROOT | quote }}
  MEDIA_ROOT: {{ .Values.django.env.MEDIA_ROOT | quote }}
