apiVersion: v1
kind: Service
metadata:
  name: portfolio-backend-service
  labels:
    app: portfolio
    tier: backend
spec:
  type: LoadBalancer
  selector:
    app: portfolio
    tier: backend
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800  # 3 hours
